.site-background {
    background-image: url('../nav/bandplannerlogo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}



.editProfile {
    position: absolute;
    top: 80px;
    /* Adjust the top position as needed */
    left: 365px;
    /* Adjust the right position as needed */
    padding: 5px 5px;
    /* Adjust the padding as needed */
    font-size: 14px;
    /* Adjust the font size as needed */

    background-color: rgb(125, 128, 128);
    /* Replace "red" with the desired color */
    color: white;
    /* Replace "white" with the desired font color */
    border-radius: 5px;
    border: 2px solid white;
}

.profileContainer {
    margin-top: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 67%;
    background-color: #f59e9e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border: 5px darkcyan solid;
    padding: 5px;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: space-between;  */
}


.profileContent {
    display: flex;
    width: 100%;
}
.profilePhoto {
    flex-basis: 50%;

}

.profilePhoto img {
    width: 100%;
}

.profileInfo {
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 2px;
}

.artistName {
    border-right: 2px solid black;
    border-top: 2px solid black;
    border-left: 2px solid black;
    padding: 2px;
}

.artistBio {
    border: 2px solid black;
    padding: 2px;
}





.profileLinks {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: auto;
    border: 2px solid black;
    padding-top: 3px;
}

.profileLinks > div {
    width: 33.33%;
    margin-bottom: 5px;
    display: flex;
    justify-content: center;
}