.pressCoverageBandName {
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom: 2px solid grey;
    padding: 10px;
}

.site-background {
    background-image: url('../nav/bandplannerlogo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
  }

.clippingViewContainer {
    margin-top: 10px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 600px;
    overflow-y: scroll;
    background-attachment: fixed;
    border: 10px solid rgb(224, 219, 219);
    border-radius: 2rem;
    
}

.clippingCard {
    background-color: #f59e9e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
    border: 5px darkcyan solid;
    padding: 5px;
}






.contactViewContainer {
    margin-top: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 70%;
}


.contactCard {
    background-color: #f59e9e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
    border: 5px darkcyan solid;
    padding: 5px;
}







.clipping_form {
    position: fixed;
    height: 30%;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgb(139, 167, 227);
    color: rgb(4, 4, 4);
    border: 2px solid black;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.clipping_form button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact_form {
    position: fixed;
    height: 65%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgb(139, 167, 227);
    color: rgb(4, 4, 4);
    border: 2px solid black;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.contact_form button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}