
.container {
    position: relative;
}



.pop_up {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: whitesmoke;
    border: 2px solid black;
    /* Ensure the pop-up is in front of other content */
    /* Add additional styles for the pop-up */
}

.pop_up_rehearsal {
    position: fixed;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: whitesmoke;
    border: 2px solid black;
     /* Ensure the pop-up is in front of other content */
    /* Add additional styles for the pop-up */
}

.pop_up_gig {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: whitesmoke; 
    border: 2px solid black;
    /* Ensure the pop-up is in front of other content */
    /* Add additional styles for the pop-up */
}





.button-checkbox-container {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(50%);
}

.react-calendar {
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 70%;
}


.modal {
    position: absolute;
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; */
    width: 50%;
    height: 50%;
    transform: translate(50%, 50%);
}



.modal-content {
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.modal-header {
    background-color: #333;
    color: #fff;
}

.modal-body {
    font-size: 16px;
}

.modal-footer {
    background-color: #f7f7f7;
}

.filterBox {
    border: 2px solid black;
    margin-left: 15px;
    padding: 2px;
}

.filterOne {
    margin-right: 10px;
}

.filterTwo {
    margin-right: 10px;
}

.filterFour {
    margin-left: 10px;
}
