
.site-background {
    background-image: url('../nav/bandplannerlogo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
  }
  
  
  .add-event-button {
    position: absolute;
    top: 80px; /* Adjust the top position as needed */
    left: 365px; /* Adjust the right position as needed */
    padding: 5px 5px; /* Adjust the padding as needed */
    font-size: 14px; /* Adjust the font size as needed */
  }
  
  .custom-button {
    background-color: rgb(125, 128, 128); /* Replace "red" with the desired color */
    color: white; /* Replace "white" with the desired font color */
    border-radius: 5px;
    border: 2px solid white;
  }


  .button-view-container {
    position: absolute;
    top: 75px;
    right: 25%;
    transform: translateY(50%);
}
  
    .react-calendar { 
      background-color: antiquewhite;
      width: 100%;
      height: 100%;
      padding: 10px;
      border: 5px darkcyan solid;
      overflow: auto;
     }
  
   
  
  
  .filterBox {
    border: 2px solid black;
    margin-left: 15px;
    padding: 2px;
    background-color: antiquewhite !important;
    position: absolute;
    top: 80px; /* Adjust the top position as needed */
    width: 250px;
    right: -30px;
  
  }
  
  
  
  
  
  
  
  
  
  
  .modal {
    position: absolute;
    width: 50%;
    height: 50%;
    transform: translate(50%, 50%);
   }
   
   .modal-content {
     background-color: #f7f7f7;
     border-radius: 10px;
     box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
   }
   
   .modal-header {
    background-color: #5454ff !important;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 50% ; */
    height: 50%;
   }
   
   .modal-body {
     /* width: 30%; */
    height: 30%;
   }
   
   .modal-footer {
     background-color: #f7f7f7;
     display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 20%; */
    height: 20%;
   }
  
  
   .left-buttons {
    display: flex;
    align-items: center;
    margin: 2px
  }
  
   .right-button {
    margin-left: auto;
    margin-right: 2px;
  
  }
  
  .square-modal .modal-content {
    width: 30vw; /* Set the desired width as a percentage of the viewport width */
    height: 10vw; /* Set the same height as the width */
    max-width: 400px; /* Set a maximum width if needed */
    max-height: 400px; /* Set a maximum height if needed */
  }

















/* LIST VIEW */





.releaseContainer {
  margin: 10px;
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 70%;
}

.releaseItem {
  background-color: #f59e9e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
    border: 5px darkcyan solid;
    padding: 5px;
}

.releaseFont {
  font-size: smaller;
    font-style: italic;
}

.releaseButton {
  background-color: #64b37d;
}











/* BAD CSS */


.react-calendar {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 70%;
}


.modal {
    position: absolute;
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; */
    width: 50%;
    height: 50%;
    transform: translate(50%, 50%);
}



.modal-content {
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.modal-header {
    background-color: #333;
    color: #fff;
}

.modal-body {
    font-size: 16px;
}

.modal-footer {
    background-color: #f7f7f7;
}






/* POP UPs */


/* 
.pop_up {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: whitesmoke;
    border: 2px solid black;
} */




.pop_up_single {
  position: fixed;
  top: 45%;
  left: 50%;
  height: 90%;
  width: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: rgb(139, 167, 227);
  color: rgb(4, 4, 4);
  border: 2px solid black;
  padding: 10px;
}

.pop_up_single .listItem {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.pop_up_single .listKey {
  font-weight: bold;
  width: 30%; /* Set the width to 30% */
}

.pop_up_single .listValue {
  display: flex;
  align-items: center;
  margin-left: 10px;
  width: 70%; /* Set the width to 70% */
}

.pop_up_single .listValue div {
  width: 100%; /* Ensure the text takes full width */
}


.singleImagePopup {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50vh;
  height: 50vh;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: whitesmoke;
  border: 2px solid black;
  padding: 10px;
  overflow: auto;
  display: flex;
flex-direction: column;
}

.singleImagePopup img {
  max-width: 100%;
height: auto;
object-fit: contain;
}

.singleImagePopup .closeSinglePopupBtn {
  margin-top: auto;
  align-self: flex-end;
}

.button_release_group {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.edit_release_button,
.delete_release_button {
  margin-right: 10px;
}

.close_release_button {
  position: absolute;
  bottom: 10px;
  right: 10px;
}












.pop_up_bundle {
  position: fixed;
  top: 45%;
  left: 50%;
  height: 90%;
  width: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: rgb(139, 167, 227);
  color: rgb(4, 4, 4);
  border: 2px solid black;
  padding: 10px;
  display: flex;
  flex-direction: column;
}

.pop_up_bundle .listItem {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

.pop_up_bundle .listKey {
  font-weight: bold;
  width: 30%; /* Set the width to 30% */
}

.pop_up_bundle .listValue {
  display: flex;
  align-items: center;
  margin-left: 10px;
  width: 70%; /* Set the width to 70% */
}

.pop_up_bundle .listValue div {
  width: 100%; /* Ensure the text takes full width */
}


.bundleImagePopup {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 50vh;
  height: 50vh;
  transform: translate(-50%, -50%);
  z-index: 9999;
  background-color: whitesmoke;
  border: 2px solid black;
  padding: 10px;
  overflow: auto;
  display: flex;
flex-direction: column;
}

.bundleImagePopup img {
  max-width: 100%;
height: auto;
object-fit: contain;
}

.bundleImagePopup .closeBundlePopupBtn {
  margin-top: auto;
  align-self: flex-end;
}

.button_release_group {
  position: absolute;
  bottom: 10px;
  left: 10px;
}

.edit_release_button,
.delete_release_button {
  margin-right: 10px;
}

.close_release_button {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.pop_up_bundle .bundle-songs-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pop_up_bundle .bundle-songs-header h3 {
  margin: 0;
  border: 2px black solid; 
  border-radius: 2rem;
  padding: 10px;
  background-color: black;
  color: whitesmoke;
}

.pop_up_bundle .bundle-songs-header button {
  margin-left: 10px;
}




.buttonWrapper {
  margin-top: 25px;
}




.matched_bundle_songs {
  margin-top: 5px;
  flex-grow: 1;
  overflow: auto;
  border: 5px solid black;
  padding: 3px;
}

.bundleItem {
  border-bottom: 2px solid black;
}

.bundleButtons {
  display: flex;
  justify-content: end;
}

.bundleButtons button {
  margin: 2px;
}

