.site-background {
  background-image: url('../nav/bandplannerlogo.jpeg');
  background-size: cover;
  background-repeat: no-repeat;
}

  .rounded-form {
    border-radius: 10px !important;
  }

  
  