



.container {
    position: relative;
}


.API {
    position: sticky;
    top: 0;
    width: 20%;
    height: 100%;
    border: 2px solid black;
    /* transform: translateY(20%); */
}



.scrollable {
    height: 300px; /* Set the desired height for the scrollable div */
    overflow: auto; /* Enable scrolling */
}



.pop_up {
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: whitesmoke;
    border: 2px solid black;
    /* Ensure the pop-up is in front of other content */
    /* Add additional styles for the pop-up */
}

.pop_up_rehearsal {
    position: fixed;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: whitesmoke;
    border: 2px solid black;
     /* Ensure the pop-up is in front of other content */
    /* Add additional styles for the pop-up */
}

.pop_up_gig {
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: whitesmoke; 
    border: 2px solid black;
    /* Ensure the pop-up is in front of other content */
    /* Add additional styles for the pop-up */
}





.button-checkbox-container {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateY(50%);
}

.react-calendar {
    position: absolute;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 70%;
}


.modal {
    position: absolute;
    /* top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto; */
    width: 50%;
    height: 50%;
    transform: translate(50%, 50%);
}



.modal-content {
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.modal-header {
    background-color: #333;
    color: #fff;
}

.modal-body {
    font-size: 16px;
}

.modal-footer {
    background-color: #f7f7f7;
}

.filterBox {
    border: 2px solid black;
    margin-left: 15px;
    padding: 2px;
}

.filterOne {
    margin-right: 10px;
}

.filterTwo {
    margin-right: 10px;
}

.filterFour {
    margin-left: 10px;
}


/* setlists */






.setlistContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh; /* Adjust the height as needed */
  }
  

.setlistBoxContainer {
    width: 60%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
  }
  
  .setListBandName {
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .setlistBox {
    width: 200px; /* Adjust the width to your desired size */
    height: 200px; /* Adjust the height to your desired size */
    margin: 10px;
    padding: 20px;
    text-align: center;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
  }
  
  .setlistBox h3 {
    margin-top: 0;
  }
  
  .setlistBox h6 {
    margin-bottom: 5px;
  }




.viewContainer {
    position: absolute;
    width: 60%;
    height: 85%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    
}


  .setlistView {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: sticky;
    top: 0;
    width: 70%;
    height: 70%;
    z-index: 9999;
    background-color: rgb(142, 182, 187);
    border: 2px solid black;
}



