.site-background {
    background-image: url('../nav/bandplannerlogo.jpeg');
    background-size: cover;
    background-repeat: no-repeat;
}


.add-event-button {
    position: absolute;
    top: 80px;
    /* Adjust the top position as needed */
    left: 365px;
    /* Adjust the right position as needed */
    padding: 5px 5px;
    /* Adjust the padding as needed */
    font-size: 14px;
    /* Adjust the font size as needed */
}

.custom-button {
    background-color: rgb(125, 128, 128);
    /* Replace "red" with the desired color */
    color: white;
    /* Replace "white" with the desired font color */
    border-radius: 5px;
    border: 2px solid white;
}


.button-view-container {
    position: absolute;
    top: 75px;
    right: 25%;
    transform: translateY(50%);
}

.react-calendar {
    margin-top: 10px;
    background-color: antiquewhite;
    width: 100%;
    height: 100%;
    padding: 10px;
    border: 5px darkcyan solid;
    overflow: auto;
}




.filterBox {
    border: 2px solid black;
    margin-left: 15px;
    padding: 2px;
    background-color: antiquewhite !important;
    position: absolute !important;
    top: 130px !important;
    /* Adjust the top position as needed */
    width: 250px !important;
    right: 50px !important;
}










.modal {
    position: absolute;
    width: 50%;
    height: 50%;
    transform: translate(50%, 50%);
}

.modal-content {
    background-color: #f7f7f7;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.modal-header {
    background-color: #5454ff !important;
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 50% ; */
    height: 50%;
}

.modal-body {
    /* width: 30%; */
    height: 30%;
}

.modal-footer {
    background-color: #f7f7f7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* width: 20%; */
    height: 20%;
}


.left-buttons {
    display: flex;
    align-items: center;
    margin: 2px
}

.right-button {
    margin-left: auto;
    margin-right: 2px;

}

.square-modal .modal-content {
    width: 30vw;
    /* Set the desired width as a percentage of the viewport width */
    height: 10vw;
    /* Set the same height as the width */
    max-width: 400px;
    /* Set a maximum width if needed */
    max-height: 400px;
    /* Set a maximum height if needed */
}




















.API {
    position: sticky;
    top: 120px;
    left: 45px;
    width: 20%;
    border: 2px solid black;
    background-color: antiquewhite;
    border-radius: .5rem;
    padding-left: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fullHeight {
    height: 420px;
}

.thirtyPercentHeight {
    height: 110px;
}



.scrollable {
    height: 300px;
    /* Set the desired height for the scrollable div */
    overflow: auto;
    /* Enable scrolling */
}


.searchBox {
    padding: 5px;
}

.radioButtons {
    display: flex;
    gap: 10px;
    /* Adjust the value as per your preference */
    margin: 10px 0;
    /* Add margin around the radio buttons */
}


.APIcard {
    border: 2px solid black;
    margin-top: 3px;
    margin-right: 5px;
}








.listViewContainer {
    margin-top: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 70%;
}



.listViewItem {
    background-color: #f59e9e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: 5px;
    border: 5px darkcyan solid;
    padding: 5px;
}

.smallerFont {
    font-size: smaller;
    font-style: italic;
}

.greenButton {
    background-color: #64b37d;
}









.pop_up {
    position: fixed;
    height: 10%;
    width: 15%;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgb(139, 167, 227);
    border: 2px solid black;
    padding: 10px;
    justify-content: center;
}

.pop_up select {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.pop_up button {

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}






.pop_up_gig {
    position: fixed;
    top: 45%;
    left: 50%;
    height: 90%;
    width: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgb(139, 167, 227);
    color: rgb(4, 4, 4);
    border: 2px solid black;
    padding: 10px;
}



.pop_up_gig .listItem {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.pop_up_gig .listKey {
    font-weight: bold;
    width: 30%;
    /* Set the width to 30% */
}

.pop_up_gig .listValue {
    display: flex;
    align-items: center;
    margin-left: 10px;
    width: 70%;
    /* Set the width to 70% */
}

.pop_up_gig .listValue div {
    width: 100%;
    /* Ensure the text takes full width */
}


.imagePopup {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 50vh;
    height: 50vh;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: whitesmoke;
    border: 2px solid black;
    padding: 10px;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.imagePopup img {
    max-width: 100%;
    height: auto;
    object-fit: contain;
}

.imagePopup .closePopupBtn {
    margin-top: auto;
    align-self: flex-end;
}












.gigForm {
    position: fixed;
    top: 55%;
    left: 50%;
    height: 77%;
    width: 25%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgb(139, 167, 227);
    color: rgb(4, 4, 4);
    border: 2px solid black;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: auto;
}

.gigForm button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.compressedImg {
    max-width: 100px; /* Set the maximum width you want the image to take */
    max-height: 100px; /* Set the maximum height you want the image to take */
    object-fit: cover; /* Maintain aspect ratio and fill the container */
    margin-right: 5px;
  }






























.pop_up_rehearsal {
    position: fixed;
    height: 200px;
    top: 100px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgb(139, 167, 227);
    color: rgb(4, 4, 4);
    border: 2px solid black;
    padding: 10px;
}

.pop_up_rehearsal .listItem {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

.pop_up_rehearsal .listKey {
    font-weight: bold;
    width: 30%;
    /* Set the width to 30% */
}

.pop_up_rehearsal .listValue {
    display: flex;
    align-items: center;
    margin-left: 10px;
    width: 70%;
    /* Set the width to 70% */
}

.pop_up_rehearsal .listValue div {
    width: 100%;
    /* Ensure the text takes full width */
}


.button_group {
    position: absolute;
    bottom: 10px;
    left: 10px;
}

.edit_button,
.delete_button {
    margin-right: 10px;
}

.close_button {
    position: absolute;
    bottom: 10px;
    right: 10px;
}









.rehearsal_form {
    position: fixed;
    height: 44%;
    top: 295px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgb(139, 167, 227);
    color: rgb(4, 4, 4);
    border: 2px solid black;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.rehearsal_form button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}







.formRow {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .formRow label {
    width: 100px; /* Adjust the width as needed */
    margin-right: 10px;
  }
  
  .formRow input {
    margin-left: auto;
  }

  .formRow button {
    margin-left: auto;
  }

  .formRow select {
    margin-left: auto;
  }

  .formRow img {
    margin-left: auto;
  }

  .formRow div {
    margin-left: auto;
  }

  .formButtons {
    display: flex;
    justify-content: flex-end;
  }
























/* SETLISTS */



.addSetlist {
    position: absolute;
    left: 43%;
    top: 65px;
    font-size: 14px;
    background-color: rgb(125, 128, 128);
    color: white;
    border-radius: 5px;
    border: 2px solid white;
    margin-bottom: 30px;
    padding: 2px;
}


.setlistContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    height: 70%;
    background-color: #f59e9e;
    border-radius: 1rem;
}


.setlistBoxContainer {
    width: 100%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
    padding: 0 20px;
}

.setListBandName {
    width: 100%;
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
    border-bottom: 2px solid grey;
    padding: 10px;
}

.setlistBox {
    width: 200px;
    /* Adjust the width to your desired size */
    height: 175px;
    /* Adjust the height to your desired size */
    margin: 30px 10px 0 10px;
    padding: 20px;
    text-align: center;
    background-color: #f2f2f2;
    border: 1px solid #ccc;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background-color: grey;
    color: black;


}

.setlistBox h3 {
    font-weight: bold;


}


.fontStyles {
    font-size: smaller;
    font-style: italic;
}












/* VIEW SETLIST */



.viewContainer {
    position: fixed;
    top: 41%;
    left: 50%;
    height: 50%;
    width: 25%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgb(139, 167, 227);
    color: rgb(4, 4, 4);
    border: 2px solid black;
    padding: 10px;
    text-align: center;
}

.viewContainer h2 {
    font-weight: bold;
}

.viewContainer h3 {
    font-style: italic;
    font-size: smaller;
}



.viewContainer .customList {
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
    padding-left: 20px;
    counter-reset: item;
}

.viewContainer .customList li {
    counter-increment: item;
    list-style: none;
}

.viewContainer .customList li:before {
    content: counter(item) ".";
    display: inline-block;
    width: 1em;
    margin-left: -1.5em;
}
























/* POST SETLIST */




.setlist_form {
    position: fixed;
    height: 20%;
    top: 26%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgb(139, 167, 227);
    color: rgb(4, 4, 4);
    border: 2px solid black;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.setlist_form button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



.edit_setlist {
    position: fixed;
    height: 44%;
    width: 25%;
    top: 295px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgb(139, 167, 227);
    color: rgb(4, 4, 4);
    border: 2px solid black;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    overflow: auto;
}

.edit_setlist button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.edit_setlist .customList {
    text-align: left;
    margin-left: 20px;
    margin-top: 10px;
    padding-left: 20px;
    counter-reset: item;
}

.edit_setlist .customList li {
    counter-increment: item;
    list-style: none;
}

.edit_setlist .customList li:before {
    content: counter(item) ".";
    display: inline-block;
    width: 1em;
    margin-left: -1.5em;
}



.edit_setlist .setlist-songs-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 5px 0;
  }
  
  .edit_setlist .setlist-songs-header h3 {
    margin: 0;
    border: 2px black solid; 
    border-radius: 2rem;
    padding: 10px;
    background-color: black;
    color: whitesmoke;
  }
  
  .edit_setlist .setlist-songs-header button {
    margin-left: 10px;
    background-color: #f59e9e;
  }


  .edit_setlist .setlist_songs {
    height: 50%;
    overflow: auto;
    margin-top: 10px;
    border-top: 2px solid black;
  }

  .unchosen {
    margin-left: 15px;
}


.edit_setlist  button {
    background-color: rgb(189, 186, 186);
  }












.song_form {
    position: fixed;
    height: 44%;
    top: 295px;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 9999;
    background-color: rgb(139, 167, 227);
    color: rgb(4, 4, 4);
    border: 2px solid black;
    padding: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.song_form button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



/* .newSetlistContainer {
    position: absolute;
    width: 60%;
    height: 85%;
    display: flex;
    align-items: flex-start;
    justify-content: center;

}


.newSetlistForm {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: sticky;
    top: 0;
    width: 70%;
    height: 70%;
    z-index: 9999;
    background-color: rgb(142, 182, 187);
    border: 2px solid black;
} */











/* EDIT SETLIST */

.editSetlistContainer {
    position: absolute;
    width: 60%;
    height: 85%;
    display: flex;
    align-items: flex-start;
    justify-content: center;

}


.editSetlistForm {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    position: sticky;
    top: 0;
    width: 70%;
    height: 70%;
    z-index: 9999;
    background-color: rgb(142, 182, 187);
    border: 2px solid black;
}

.buttonDiv {
    position: absolute;
    bottom: 0;
    right: 0;
    margin: 10px;
}

